.carouselimage{
    height: 500px;
}
.carouselfont{
    color: red;
        font-size: 50px;
        text-shadow: 2px 2px 4px lightblue;
}
h1,h5{
    font-family: 'Snap ITC' !important;
}
.sond{
    width: 30px;
    border-radius: 30%;
}
h1{
    text-align: center;
}
.margintop{
    margin-top: 20px;
}
.cardbprder{
   
        border: 20px solid;
        padding: 15px;
        /* border-image: url(border.png) 30 stretch; */
      
}